@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #30302e;
    --secondary-color: #2e2b2d;
    --accent1-color: #846A6A;
    --accent2-color: #353B3C;
    
    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    
    --nav-background-color: #641f1f;
    --nav-link-color: #f3f4f7;
    --nav-hover-link-color: #080207;
    --nav-hover-background-color: #8f3939;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header */
header {
    padding: 20px;
    background-color: var(--accent1-color);
    margin: 1rem auto;
    display: grid;
	grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

/* Paragraphs */
p, footer p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 25px;
    margin: 0;
}

footer p {
    color: #f8f1f1;
}

/* Links */
a {
    text-decoration: none;
    color: var(--nav-link-color);
}

/* Hero Section */
.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-family: var(--heading-font);
}

/* Article */
article {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

article img {
    float: right;
    margin-left: 20px;
    width: 200px !important;
}

/* Navigation */
nav {
    text-align: right;
    background-color: var(--nav-background-color);
}

.navigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 20px;
    transition: font-weight 0.3s, text-decoration 0.3s;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Footer */
footer {
    background-color: var(--accent2-color);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.sociallinks a {
    margin-left: 10px;
}

.sociallinks img {
    width: 24px;
    height: 24px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

figcaption {
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
}

.contact-msg h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-msg p {
    font-size: 1.2em;
}

/* Form Styles */
form, .contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}

fieldset {
    border: none;
    padding: 0;
}

.form-item {
    margin-bottom: 15px;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="tel"],
.form-item textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-item.text textarea {
    height: 100px;
    resize: vertical;
}

.contact-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    line-height: 1.6;
}

.form-item button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-item button:hover {
    background-color: #0056b3;
}

#map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

/* Employee Profiles Section */
.employee-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Checkbox and Radio Buttons */
.contact-form input[type="checkbox"], 
.contact-form input[type="radio"] {
    margin-right: 5px;
}
