@import url(https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap);
body {
 font-family: var('Jery 25 Charted', sans-serif, serif);
 max-width: 960px;
 padding: 20px;
}
:root {
    --primary-color: #e6902e;
    --secondary-color: #9bc232;
    --accent1-color: #42b133;
    --accent2-color: #409ea5;

    --heading-font: 'Jersey 25 Charted', sans-serif, serif;
    --paragraph-font: 'Jery 25 Charted', sans-serif, serif;

    --nav-backround-color: #641f1f;
    --nav-link-color: #3138a5;
    --nav-hover-link-color: #962683;
    --nav-hover-backround-color: #8f3939;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var('Jersey 25 Charted', sans-serif, serif);
    color: var(#e6902e);
}
header {
    padding: 20px;
    background-color: var(#42b133);
}
p {
    padding: 25px;
}

nav {
    background-color: var(#641f1f);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(#962683);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(#962683);
  }
  
  nav a:hover {
    color: var(#962683);
    background-color: var(#8f3939);
  }
